@import "tailwindcss";

@theme {
  --color-deep-ocean-blue: #003B5C;
  --color-ancient-gold: #C8A300;
  --color-ghostly-white: #F2F6F6;
  --color-abyssal-purple: #6A3D94;
  --color-cursed-red: #B13F35;
  --color-rusty-bronze: #7A5C3F;
  --color-midnight-black: #1D1D1D;
  --color-mist-grey: #A8A8A8;
}

/* Add this to your styles.css or App.css to style the toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: background-color 0.4s ease, transform 0.4s ease;
  border-radius: 50px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: transform 0.4s ease;
}

input:checked + .slider {
  background-color: #797979dd;
}

input:checked + .slider:before {
  transform: translateX(14px);
}
